[submodule "lib/TrialData"]
	path = lib/TrialData
	url = https://github.com/mattperich/TrialData.git
[submodule "lib/NeuronTable"]
	path = lib/NeuronTable
	url = https://github.com/limblab/NeuronTable.git
[submodule "lib/circ-toolbox"]
	path = lib/circ-toolbox
	url = https://github.com/raeedcho/circ-toolbox.git
